:root {
  /* Tu Paleta Oficial */
  --bg-main: #171717;      /* Black */
  --bg-panel: #2A2A2A;     /* Un gris intermedio para paneles */
  --border-color: #4D4D4D; /* Dark gray */
  --accent: #F25623;       /* Orange */
  --accent-hover: #D9461A; /* Un naranja más oscuro para el hover de botones */
  --text-main: #DEDEDE;    /* Light gray */
  --text-muted: #999999;   /* Para subtítulos o textos secundarios */

  /* Tipografía limpia */
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Reseteo básico para que no haya márgenes raros */
* {
  box-sizing: border-box;
}